# Sass Cache #
################
.sass-cache

# temp/ #
################
temp/

# dist/ #
################
dist/

# Binary Assets #
###############
/assets

# Packages #
############
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip